.contact p{
font-family: 'Vazirmatn', sans-serif;
font-weight: 500;
font-size: 1rem;
}

.contact-card{
	background: var(--background-tertiary);
	padding: 25px 25px 12px 25px;
	margin-bottom: 1rem;
	border-radius: 5px;
	transition: 0.25s ease;
}

.contact .contact-form input {
        border: none;
        background: var(--background-primary);
        display: block;
        width: 100%;
        padding: 0.5rem 1rem;
        font: inherit;
        color: var(--foreground-secondary);
        border-radius: 5px;
        margin-bottom: 1.5rem;
}

.contact .contact-form input::placeholder {
	color: inherit;
}

.contact .contact-form input:focus {
		outline: 2px solid;
		outline-offset: 0;
    color: var(--foreground-secondary) !important;
    box-shadow: none !important;
}

.contact .contact-form textarea{
        font-family: 'Vazirmatn', sans-serif;
        font-weight: 500;
        border: none;
        background: var(--background-primary);
        display: block;
        width: 100%;
        padding: 1rem 1.2rem;
        color: var(--foreground-secondary);
        border-radius: 6px 6px 0 0;
        margin-bottom: 1.5rem;
        outline: none;
        resize: none;
}

.contact .contact-form label{
  font-size: 1rem;
font-family: 'Vazirmatn', sans-serif;
font-weight: 700;
margin-bottom: 13px;
color: var(--foreground-secondary);
}

.contact .contact-form .captcha-refresh{
  cursor: pointer;
  font-family: 'Vazirmatn', sans-serif;
  font-weight: 700;
  font-size: .87rem;
  color: var(--foreground-tertiary);
  padding-right: 11px;
}

.show-contact p{
  font-family: 'Vazirmatn', sans-serif;
  font-weight: 500;
  color: var(--foreground-secondary);
}

.show-contact p b{
  font-family: 'Vazirmatn', sans-serif;
  font-weight: 700;
  color: var(--foreground-primary);
}


    .contact p {
        color: var(--foreground-secondary);
        margin-bottom: 2rem;
        font-family: 'Vazirmatn', sans-serif;
        font-weight: 500;
    }
